.App {
  text-align: center;
}

.main {
  min-height: 80vh;
  padding: 2em;
}

@font-face {
  font-family: 'Geo';
  src: url('./font/Geo/Geo-Regular.ttf');
}

@font-face {
  font-family: 'Nexa';
  src: url('./font/Nexa/NexaText-Trial-Regular.ttf');
}

@font-face {
  font-family: 'kollektif';
  src: url(./font/kollektif/Kollektif-Bold.ttf);
}

@font-face {
  font-family: 'Gidole';
  src: url(./font/Gidole/Gidole-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat';
  src: url('./font/Montserrat/Montserrat-Regular.ttf');
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 80px 0;
  align-items: center;
  background-color: #E1E5EE;
  color: #282c34;
  text-align: center;
  font-family: "Gidole";
}

.container {
  width: 100%;
  justify-content: center;
  align-items: left;
}

a {
  text-decoration: none;
  color: black;
}

line {
  border-bottom: 1px solid #999999;
  width: 50px;
  line-height: 0.1em;
  margin: 10px 20px 10px;
}
  

h1{
    font-family: "Kollektif";
    font-size: 8vw;
    font-weight: normal;
    text-align: left;
    color: #E1E5EE;
    margin: 20px 0 0;
    max-width: 1050px;
}
h2{
  color: #999999;
  font-family: Gidole;
  font-size: 3em;
  text-align: left;
}
h5 {
  color: #999999;
  font-family: Gidole;
  font-size: 15px;
  text-align: left;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 1px;
  }

h3 {
  font-family: Gidole;
  text-align: left;
  font-size: 20px;
  margin: 0 0 0;
  font-weight: normal;
  color: #F7C59F;
}

h4 {
  color: #999999;
  font-family: Gidole;
  text-align: left;
  font-size: 20px;
  margin: 20px 0 0;
  font-weight: normal;
}

.logo {
  position: relative; 
  border: 2px solid #e1e5ee;
  background-color: #282c34;
  font-family: "Geo";
  color: #e1e5ee;
  font-size: 2em;
  left: 30px;
  padding: 1px;
  margin-top: 30px;
  margin-bottom: 1em;
}
/* hover effect */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/************* line animation ********************/

.line {
  width: 100px;
  height: 3px;
  background: #999999;
  top: 100%;
}

#line_r{
-webkit-animation: line_r_animation 30s infinite;
animation: line_r_animation 30s infinite;
}

#line_l{
-webkit-animation: line_l_animation 3s infinite;
animation: line_l_animation 3s infinite;
}

@-webkit-keyframes line_l_animation {
  0%   {left: calc(2% + 50px); width: 0px;}
  35%   {left: calc(2% + 0px); width: 50px;}
  70%   {left: calc(2% + 0px); width: 0px;}
  100%   {left: calc(2% + 0px); width: 0px;}
}

@keyframes line_r_animation {
  0%   {left: calc(2% + 50px); width: 0px;}
  35%   {left: calc(2% + 0px); width: 50px;}
  70%   {left: calc(2% + 0px); width: 0px;}
  100%   {left: calc(2% + 0px); width: 0px;}
}

@-webkit-keyframes line_r_animation {
  0%   {right: calc(2% + 50px); width: 0px;}
  35%   {right: calc(2% + 0px); width: 150px;}
  70%   {right: calc(2% + 0px); width: 0px;}
  100%   {right: calc(2% + 0px); width: 0px;}
}

@keyframes line_r_animation {
  0%   {right: calc(2% + 50px); width: 0px;}
  35%   {right: calc(2% + 0px); width: 150px;}
  70%   {right: calc(2% + 0px); width: 0px;}
  100%   {right: calc(2% + 0px); width: 0px;}
}