.App {
  text-align: center;
}

@font-face {
  font-family: 'Geo';
  src: url('./font/Geo/Geo-Regular.ttf');
}

@font-face {
  font-family: 'Nexa';
  src: url('./font/Nexa/NexaText-Trial-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./font/Montserrat/Montserrat-Regular.ttf');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  color: #999999;
  font-family: Geo;
  font-size: 30px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
  }