body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #282c34;
}

* {
  cursor: none;
}
